*{
    margin: 0;
}

.contenedor{
    background: violet;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 2%;
    color: blueviolet;
}

button{
    background-color: purple;
    border: none;
    border-radius: 25px;
    padding: 20px 40px;
    font-size: 16px;
    color: rosybrown;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#yesBtn{
    transform: translate(-100%,0);

}

#noBtn{
    position: absolute;
}

